<h1>tf-button</h1>

<p class="u-m-0">Min-width: 90px | Min-height: 36px | Horizontal padding: 12px | Horizontal margin: 12px | Border radius: 2px.</p>
<p class="u-m-0">Default weightGroup is "primary" and colorGroup is "neutral".</p>

<h2>No parameters</h2>

{{! BEGIN-SNIPPET no-parameters }}
  {{tf-button}}
{{! END-SNIPPET }}

{{code-snippet name="no-parameters.hbs" class="u-mv-md u-p-md"}}

<h2>Button with long text</h2>

{{! BEGIN-SNIPPET button-with-long-text }}
  {{tf-button text="Solid Indigo Button"}}
{{! END-SNIPPET }}

{{code-snippet name="button-with-long-text.hbs" class="u-mv-md u-p-md"}}

<h2>Color groups</h2>

{{! BEGIN-SNIPPET color-groups }}
  {{tf-button colorGroup="positive" text="Save"}}
  {{tf-button text="Done"}}
  {{tf-button colorGroup="negative" text="Delete"}}
{{! END-SNIPPET }}

{{code-snippet name="color-groups.hbs" class="u-mv-md u-p-md"}}

<h2>Weight groups</h2>

{{! BEGIN-SNIPPET weight-groups }}
  {{tf-button weightGroup="secondary" colorGroup="positive" text="Save 2"}}
  {{tf-button weightGroup="secondary" text="Done 2"}}
  {{tf-button weightGroup="secondary" colorGroup="negative" text="Delete 2"}}
{{! END-SNIPPET }}

{{code-snippet name="weight-groups.hbs" class="u-mv-md u-p-md"}}

<h2>Block-form</h2>

{{! BEGIN-SNIPPET block-form }}
  {{#tf-button colorGroup='positive'}}Blocky{{/tf-button}}
{{! END-SNIPPET }}

{{code-snippet name="block-form.hbs" class="u-mv-md u-p-md"}}

<h2>Disabled</h2>

{{! BEGIN-SNIPPET disabled }}
  {{tf-button disabled=true text="Disably"}}
{{! END-SNIPPET }}

{{code-snippet name="disabled.hbs" class="u-mv-md u-p-md"}}
